section.slider
    //- .slider__content
    .slideshow-container
        .mySlides.fade
            .numbertext|1/4
            img(src="./img/520312566_1280x720.jpg", style="width: 100%" alt="")
            .text|text
        .mySlides.fade
            .numbertext|2/4
            img(src="./img/maxresdefault.jpg", style="width: 100%" alt="")
            .text|text
        .mySlides.fade
            .numbertext|3/4
            img(src="./img/maxresdefault (1).jpg", style="width: 100%" alt="")
            .text|text
        .mySlides.fade
            .numbertext|4/4
            img(src="./img/maxresdefault (2).jpg", style="width: 100%" alt="")
            .text|text
        a.prev(onclick="plusSlides(-1)")|&#10094
        a.next(onclick="plusSlides(1)")|&#10095
        br
        .dot-wrap(style="text-align: center")
            span.dot(onclick="plusSlides(1)")
            span.dot(onclick="plusSlides(2)")
            span.dot(onclick="plusSlides(3)")
            span.dot(onclick="plusSlides(4)")