section.biografie
    .biografie__content
        .biografie__img.pages-img
            img(src="../img/minions-png-5a3aa9e4880921.5011442815137940205572.jpg", alt="")
        .biografie__text.pages-text
            p.biografie__title-text|Lorem
            p.biografie__subtitle-text|Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus accusantium amet cum dolor delectus aspernatur assumenda eos, quia labore esse aperiam nulla inventore! Voluptatum, tenetur facere obcaecati corrupti magni quos. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Mollitia repudiandae nulla expedita, culpa hic labore? Tempora eum quod illo alias quae et quo minus voluptatibus? Assumenda fugit dolorem sapiente est.