section.biografie.wow.bounceInDown
    .biografie__content
        .biografie__mine-photo.global-photo-styles
            img.biografie__img.global-img-styles(src="../img/569f745fec60d1525ede96e0.png", alt="minion-photo")
        .biografie__text.global-text-styles
            p.biografie__title-text.global-title-text|Lorem
            p.biografie__subtitle-text.global-subtitle-text|Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus accusantium amet cum dolor delectus aspernatur assumenda eos, quia labore esse aperiam nulla inventore! Voluptatum, tenetur facere obcaecati corrupti magni quos. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Mollitia repudiandae nulla expedita, culpa hic labore? Tempora eum quod illo alias quae et quo minus voluptatibus? Assumenda fugit dolorem sapiente est. Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi voluptatem sit culpa quia id unde nisi dolores, dicta cumque possimus pariatur quasi corrupti, animi necessitatibus aliquid a odit itaque accusamus. Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat blanditiis a repellat quaerat rerum, eum inventore totam expedita deleniti beatae illo temporibus, nesciunt dolorum architecto veritatis quas error.