// !!! HEADER FONTS !!! //

.header{

    &__name-font{
        font-family: 'Roboto', sans-serif;
        font-size: 4rem;
        color: #fff;
    }

    &__nav-link-font{
        font-family: 'Fahkwang', sans-serif;
        font-size: 1.5rem;
        color: #fff;
    }

}

// !!! FOOTER FONTS !!! //

.footer{

    &__text-font{
        font-family: 'Roboto', sans-serif;
        font-size: 3rem;
        color: #fff;
    }

    &__nav-link-font{
        font-family: 'Fahkwang', sans-serif;
        font-size: 2rem;
        color: #fff;
    }

}

// !!! PAGES FONTS !!! //

.global-title-text{
    font-family: 'Roboto', sans-serif;
    font-size: 3rem;
    font-weight: 400;
    text-align: left;
    padding-bottom: 3rem;
}

.global-subtitle-text{
    font-family: 'Fahkwang', sans-serif;
    font-size: 1.5rem;
    text-align: left;
    line-height: 1.5;
    letter-spacing: 0.15rem;
}

@media (max-width: 1020px) {

    .global-subtitle-text{
        font-size: 1.3rem;
        letter-spacing: 0.1rem;
    }
    
}

@media (max-width: 751px) {

    .global-title-text{
        text-align: center;
        padding-top: 3rem;
    }

    .global-subtitle-text{
        font-size: 1.5rem;
        letter-spacing: 0.15rem;
    }

}