html{
    font-size: 10px;
}

@media (min-width: 2600px) {
    html{
        font-size: 20px;
    }
}


@media (max-width: 1600px) {
    html{
        font-size: 9px;
    }
}

@media (max-width: 1240px) {
    html{
        font-size: 8px;
    }
}

@media (max-width: 1020px) {
    html{
        font-size: 7px;
    }
}

.body{
    font-family: 'Roboto', sans-serif;
    font-family: 'Fahkwang', sans-serif;
    font-size: 1.6rem;
}

*{
    box-sizing: border-box;
}

.body__wrap{
    margin: 0 auto;
    max-width: 192rem;
    min-width: 16rem;
    display: flex;
    flex-direction: column;
    background-color: #fff;
}

a{
    text-decoration: none;
}

ul, li{
    list-style: none;
}

button{
    cursor: pointer;
}

.global-img-styles{
    width: 30rem;
    height: 30rem;
    background-color: #808080;
}

.global-text-styles{
    width: 95rem;
    height: 30rem;
}

@media (max-width: 751px) {
    
    .global-text-styles{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-bottom: 3rem;
    }

}


@media (max-width: 415px) {

    .global-img-styles{
        width: 40rem;
        height: 40rem;
    }

}