footer.footer.wow.bounceInDown
    .footer__content
        p.footer__text.footer__text-font|Lorem ipsum
        nav.footer__nav
            ul.footer__nav-ul
                li.footer__nav-li
                    a.footer__nav-link.footer__nav-link-phone.footer__nav-link-font(href="tel:0981/4877231")|0981/48 77 231
                        i(class="fas fa-mobile-alt")
                li.footer__nav-li
                    a.footer__nav-link.footer__nav-link-font(href="mailto:Loremipsum@minion.cc")|Loremipsum@minion.cc
                        i(class="far fa-envelope")
                li.footer__nav-li
                    a.footer__nav-link.footer__nav-link-font(href="#")|Lorem ipsum. 8 112233 Dolor
                        i(class="fas fa-home")
