section.preise.wow.bounceInDown
    .preise__content
        .preise__mine-photo.global-photo-styles
            img.preise__img.global-img-styles(src="../img/minions_PNG67.png", alt="minion-photo")
        .preise__text.global-text-styles
            p.preise__title-text.global-title-text|Lorem
            p.preise__subtitle-text.global-subtitle-text|Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus accusantium amet cum dolor delectus aspernatur assumenda eos, quia labore esse aperiam nulla inventore! Voluptatum, tenetur facere obcaecati corrupti magni quos. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Mollitia repudiandae nulla expedita, culpa hic labore? Tempora eum quod illo alias quae et quo minus voluptatibus? Assumenda fugit dolorem sapiente est. Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi voluptatem sit culpa quia id unde nisi dolores, dicta cumque possimus pariatur quasi corrupti, animi necessitatibus aliquid a odit itaque accusamus. Lorem ipsum dolor sit amet consectetur adipisicing elit.
