.header{

    &__container{
        display: flex;
        flex-direction: column;
        background-color: #0070af;
        padding: 2.5rem 4rem;
    }

    &__name{
        padding-bottom: 3rem;   
    }

    &__nav{
        padding: 0rem 0.3rem;
    }

    &__nav-ul{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    
    &__nav-link{
        padding-bottom: 0.3rem;

        &:hover{
            border-bottom: 0.1rem solid #fff;
        }

    }

}

@media (max-width: 751px) {

    .header{

        &__name{
            padding-top: 3rem;
            text-align: center;
        }

        &__container{
            padding: 1.5rem 2rem;
        }

    }

}

@media (max-width: 415px) {

    .header{

        &__nav{
            display: none;
        }

    }

}