header.header.wow.bounceInDown
    .header__container
        h1.header__name.header__name-font|Lorem ipsum dolor.
        nav.header__nav
            ul.header__nav-ul
                li.header__nav-li
                    a.header__nav-link.header__nav-link-font(href="#")|Lorem1
                li.header__nav-li
                    a.header__nav-link.header__nav-link-font(href="#")|Lorem2
                li.header__nav-li
                    a.header__nav-link.header__nav-link-font(href="#")|Lorem3
                li.header__nav-li
                    a.header__nav-link.header__nav-link-font(href="#")|Lorem4
                li.header__nav-li
                    a.header__nav-link.header__nav-link-font(href="#")|Lorem5
                li.header__nav-li
                    a.header__nav-link.header__nav-link-font(href="#")|Lorem6
                li.header__nav-li
                    a.header__nav-link.header__nav-link-font(href="#")|Lorem7